*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

swagger.jersey.demo/.classpath
swagger.jersey.demo/.project
swagger.jersey.demo/.gitignore
swagger.jersey.demo/.settings/
clients/csharp/bin/io.swagger.client.dll
clients/csharp/bin/io.swagger.client.xml
clientimpl/csharp/CSharp.v12.suo
clientimpl/csharp/MovieApiClient/bin/
clientimpl/csharp/MovieApiClient/obj/
clientimpl/csharp/packages/
*.classpath
clientimpl/java/.gitignore
*.project
*.settings/org.eclipse.jdt.core.prefs
clientimpl/java/.settings/org.eclipse.jdt.core.prefs
clientimpl/java/.settings/org.eclipse.m2e.core.prefs
java/swagger.jersey.demo/.settings/org.eclipse.wst.common.component
java/swagger.jersey.demo/.gitignore
